@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    :root {
        --art-primary-color: rgb(130, 130, 130);
        --art-lighter-color: rgb(130, 130, 130);
        --profile-primary-color: rgb(130, 130, 130);
        --profile-lighter-color: rgb(130, 130, 130);
    }

    .hide-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .scrollbar-custom::-webkit-scrollbar {
        width: 6px;
    }

    .scrollbar-custom::-webkit-scrollbar-track {
        background: rgb(0, 0, 255, 0);
    }

    .scrollbar-custom::-webkit-scrollbar-thumb {
        background: rgb(40, 40, 40);
        border-radius: 10px;
    }

    .scrollbar-custom::-webkit-scrollbar-thumb:hover {
        background: rgb(50, 50, 50);
    }

    .grid-item,
    .grid-sizer {
        width: 25%;
    }

    @media screen and (max-width: 900px) {
        .grid-item,
        .grid-sizer {
            width: 33.33333333%;
        }
    }

    span[aria-live="polite"],
    .placeholder-container {
        line-height: 1 !important;
    }
}
